.block-scroll {
  overflow:hidden;
}

.w-100 {
  width: 100%;
}

.p-10 {
  padding: 0 20px;
}

.m0 {
  margin: 0;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gap {
  gap: 10px;
}

.projectImg,
.popup-img {
  width: 90%;
}

.cardContainer {
  padding: 88px 10%;
  gap: 88px;
}

.card {
  align-items: center;
  background-color: white;
  padding: 15px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.info-container {
  width: 90%;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  height: auto;
  width: 236px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.p0 {
  padding: 0;
}

.list {
  list-style: none;
  font-family: 'Popins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.tech-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  height: 24px;
  padding: 4px 10px;
}

.project-resume {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.see-project-btn {
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
}

.popup-window {
  display: none;
}

.show-popup {
  background-color: #c1c7d057;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: 0;
  z-index: 100;
}

.pop-header {
  justify-content: space-between;
}

.pop-title {
  width: 90%;
}

.close-icon {
  font-size: 30px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button-aspect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  width: 140px;
  height: 48px;
  text-decoration: none;
}

.button-container {
  justify-content: center;
}

@media (min-width: 768px) {
  .d-flex-row {
    flex-direction: row;
    gap: 17px;
  }

  .projectImg {
    width: 50%;
  }

  .cardContainer {
    padding: 86px 7%;
  }

  .card-title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    width: 95%;
  }

  .list {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .projectImg:hover {
    transform: scale(0.9);
    opacity: 65%;
  }

  .see-project-btn:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(75, 92, 250, 0.884);
    color: white;
  }

  .tech-list:hover {
    background-color: #d3d3fa;
    transform: scale(1.1);
  }

  .popup-info {
    display: flex;
    justify-content: space-between;
  }

  .description {
    width: 55%;
  }
  .w-40 {
    width: 40%;
  }

  .button-container {
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 90%;
  }

  .cardContainer {
    align-items: center;
  }

  .popup-img {
    max-width: 737px;
  }
}
