body {
  margin: 0;
  background-color: #e5e5e5;
}

header {
  background-color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 48px;
  position: fixed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 100%;
}

nav a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: 10px;
}

.mobmen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: #6070ff;
  opacity: 90%;
  z-index: 100;
  display: none;
}

.mobimg img {
  width: 19px;
  height: 19px;
  padding: 20px;
}

.listyle {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  margin-right: 60%;
}

.listyle a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.show {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  align-items: end;
}

#barrita {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 70%;
}

.menu {
  width: 40px;
  border-radius: 8px;
  border: hidden;
  background: #fff;
  position: absolute;
  right: 18px;
  top: 10px;
}

.efecbot:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

.efecbot:active {
  background: #2230d2;
  border: 1px solid #7f8cff;
  color: white;
}

.efecbot:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.info {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Img/header-shapes\ mobile@2x.png");
  background-size: 100% 100%;
  width: 100%;
  height: 604px;
  border-bottom-left-radius: 80px;
}

desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 100%;
  left: calc(50% - 375px / 2);
  top: 91px;
}

.desc h2 {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.desc p {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.enlaces p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.enlaces ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 50%;
  padding: 2px;
}

.enlaces img {
  width: 19px;
}

.menudesk,
h1,
.deskim {
  display: none;
}

.works {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto auto auto auto;
  row-gap: 88px;
  width: 100%;
}

.card1 {
  grid-area: 2/2/3/3;
}

.card2 {
  grid-area: 3/2/4/3;
}

.card3 {
  grid-area: 4/2/5/3;
}

.card4 {
  grid-area: 5/2/6/3;
  margin-bottom: 88px;
}

.cg {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.c1desc {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  width: 100%;
}

.c1dp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  height: auto;
  width: 236px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.c1desc ul,
.c1desc img {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.li1 {
  font-family: 'Popins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.lisec {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.ca1p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-left: 6px;
  gap: 10px;
  flex-wrap: wrap;
}

.tags li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  height: 24px;
}

.norm {
  width: 57px;
}

.special {
  width: 92px;
}

.cg button {
  width: 126px;
  height: 48px;
  margin-top: 25px;
  margin-bottom: 15px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: calc(50% - 375px / 2);
  background-color: white;
  border-top-right-radius: 80px;
}

.aboutinfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  border-top-right-radius: 40px;
}

.desc2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desc2 button {
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
}

.desc2 h2 {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.desc2 p {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.enlaces2 h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 200px;
  margin: 0;
  padding: 0;
}

.enlaces2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 80%;
  padding: 2px;
}

.enlaces2 img {
  width: 19px;
}

.skills {
  width: 100%;
}

.skills ul {
  margin: 0;
  padding: 0;
}

.mainlis {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.glis {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
}

.glis h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  margin-left: 15px;
  padding: 0;
}

.mainlis ul {
  margin: 0;
  padding: 0;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: none;
}

.loglan {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  height: 66.72px;
  width: 90%;
}

.loglan img {
  margin-left: 12px;
}

.gal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.bottom {
  border-bottom: solid 1px #dfe1e6;
}

.contact {
  background-color: #6070ff;
  background-size: 100% 100%;
  border-top-left-radius: 80px;
  min-height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact img {
  margin-bottom: 5px;
}

.seccont {
  background-image: url(Img/contact\ form\ shapes-mobile.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: white;
  margin-top: 105px;
  margin-bottom: 0;
}

.contact p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 52px;
}

input[type="text"],
input[type="email"] {
  height: 48px;
  width: 96%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 17px;
  padding-left: 15px;
}

.contact textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 96%;
  height: 170px;
  margin-bottom: 17px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-top: 15px;
  padding-left: 15px;
}

input[type="submit"] {
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border-style: none;
}

.continf,
.formcon {
  width: 90%;
}

.continf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenpop {
  background-color: #c1c7d057;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  z-index: 100;
}

.showpop {
  margin-left: 0%;
}

.popup {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 92%;
  height: 90vh;
  overflow: scroll;
}

.pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padingul {
  padding: 0 27px;
}

.tags {
  width: 87%;
}

.divbot {
  display: flex;
  width: 100%;
  justify-content: center;
}

.boton {
  display: flex;
  width: 136px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 5px;
  text-decoration: none;
  color: #6070ff;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
  gap: 10px;
}

#barrita2 {
  margin-top: 20px;
}

.columdesk {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.closepop {
  display: flex;
  width: 20px;
  height: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
  gap: 10px;
}

.closepop img {
  width: 14px;
  height: 14px;
}

.tags2 {
  padding-left: 20px;
}

.tags2 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-left: 6px;
  gap: 10px;
  flex-wrap: wrap;
}

.tags2 li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  height: 24px;
}

.tags2 .deskim,
.tags .deskim {
  display: none;
}

.d2 {
  width: 95%;
}

#subform {
  display: flex;
  gap: 8px;
  align-items: center;
}

#subform p {
  font-size: 15px;
  font-weight: 100;
  line-height: 15px;
  text-align: unset;
  color: red;
  margin: 0;
  max-width: 185px;
  display: none;
}

@media (min-width: 768px) {
  .flexdesk,
  .deskim,
  .tags2 .deskim {
    display: flex;
  }

  .flexdesk {
    padding-top: 20px;
  }

  .pdes {
    max-width: 70%;
    display: block;
    padding-bottom: 50px;
  }

  .tags2 {
    width: 233px;
    padding-left: 0;
    padding-top: 5px;
  }

  .divbot {
    justify-content: start;
  }

  .popup {
    width: 80%;
    height: 85vh;
  }

  header {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav {
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 82px;
    width: 90%;
  }

  nav a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    text-decoration: none;
    position: unset;
  }

  #hambur,
  .desc h2,
  .mobim,
  #barrita,
  #barrita2 {
    display: none;
  }

  .info {
    background-image: url(Img/Header\ bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 41px;
    height: 100vh;
  }

  .desc {
    width: 80%;
    animation-duration: 3s;
    animation-name: slider;
  }

  .menudesk a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menudesk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    width: 258px;
    height: 40px;
  }

  .desc h1 {
    margin: 0;
    height: 122px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .desc p {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }

  .enlaces ul {
    width: 200px;
  }

  .works {
    grid-template-columns: 7% 86% 7%;
  }

  .card1 {
    grid-area: 2/2/3/3;
  }

  .cg {
    flex-direction: row;
    gap: 17px;
  }

  .cg img {
    width: 50%;
  }

  .c1dp {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    width: 100%;
  }

  .li1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .lisec {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .deskdisp img {
    width: 8px;
  }

  .ca1p {
    font-size: 16px;
    padding-bottom: 35px;
  }

  .direc {
    flex-direction: row-reverse;
  }

  .aboutinfo {
    display: flex;
    flex-direction: row;
  }

  .desc2 {
    width: 50%;
  }

  .desc2 h2 {
    margin: 0;
  }

  .skills {
    width: 50%;
  }

  .loglan {
    width: 75px;
    height: 80px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
    gap: 1px;
  }

  .loglan img {
    margin: 0;
    width: 40%;
  }

  .glis {
    color: #344563;
  }

  .gal {
    flex-direction: row;
    gap: 7px;
    font-size: 80%;
  }

  .continf {
    width: 70%;
  }

  .formcon {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccont {
    background-image: url(Img/contact\ form\ background\ shapes.png);
    margin: 5%;
  }

  .contact p {
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="email"],
  .formcon textarea {
    border-radius: 0;
  }

  .works img:hover {
    transform: scale(0.9);
    opacity: 65%;
  }

  @keyframes slider {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 20%;
      width: 100%;
    }
  }

  .enlaces img:hover,
  .enlaces2 img:hover,
  .menudesk a:hover {
    transform: scale(1.5);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    background-color: #ccdcf7;
  }

  #logo:hover {
    animation-duration: 1s;
    animation-name: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
